// http://ionicframework.com/docs/theming/

div.scroll-content {
    margin-top: 100px;
}

button.json {
	margin-top: 50px;
	/* La navbar est à 10 et la page à 1, il faut donc être entre les deux. */
	z-index: 2;
}